<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-element-placeholder-polyfill</title>
    <style>
        img {
          width: 100px;
        }
        .account-input {
          width: 120px!important;
        }
        .el-icon-success {
          color: #67C23A;
        }
        .el-icon-error {
          color: #F56C6C;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <div>
      <i class="el-icon-success"></i>
      <span>model为对象：</span>
      <el-input
        class="account-input"
        v-model="form.userName"
        ref="userNameRef"
        placeholder="请输入账号"
        @focus="inputFocus('userNameRef', 'form.userName', '请输入账号')"
        @blur="inputBlur('userNameRef', 'form.userName', '请输入账号')"
        v-inputie9="{placeholder: '请输入账号', ref:'userNameRef', model:'form.userName'}">
      </el-input>
      <span>{{form.userName}}</span>
    </div>
    <div>
      <i class="el-icon-success"></i>
      <span>model为string：</span>
      <el-input
        class="account-input"
        v-model="password"
        ref="passwordRef"
        type="password"
        placeholder="请输入密码"
        @focus="inputFocus('passwordRef', 'password', '请输入密码')"
        @blur="inputBlur('passwordRef', 'password', '请输入密码')"
        v-inputie9="{placeholder: '请输入密码', ref:'passwordRef', model:'password'}">
      </el-input>
    </div>
    <div>
      <i class="el-icon-error"></i>
      <span>选择器：</span>
      <el-select
        v-model="selectVal"
        ref="selectValRef"
        placeholder="请选择"
        @focus="inputFocus('selectValRef', 'selectVal', '请选择')"
        @blur="inputBlur('selectValRef', 'selectVal', '请选择')"
        v-inputie9="{placeholder: '请选择', ref:'selectValRef', model:'selectVal'}"
      >
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div>
      <i class="el-icon-error"></i>
      <span>多选选择器：</span>
      <el-select
        v-model="multiSelectVal"
        ref="multiSelectValRef"
        multiple
        placeholder="请选择"
        @change="multiChange"
      >
        <!-- @focus="inputFocus('multiSelectValRef', 'multiSelectVal', '请选择')"
        @blur="inputBlur('multiSelectValRef', 'multiSelectVal', '请选择')"
        v-inputie9="{placeholder: '请选择', ref:'multiSelectValRef', model:'multiSelectVal'}" -->
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div>
      <i class="el-icon-error"></i>
      <span>级联选择器：</span>
      <el-cascader
        :options="casOptions"
        v-model="casSelected"
        ref="casSelectedRef"
        @change="handleChange"
      >
      <!-- @focus="inputFocus('casSelectedRef', 'casSelected', '请选择')"
        @blur="inputBlur('casSelectedRef', 'casSelected', '请选择')"
        v-inputie9="{placeholder: '请选择', ref:'casSelectedRef', model:'casSelected'}" -->
      </el-cascader>
    </div>
    <div>
      <i class="el-icon-success"></i>
      <span>普通时间选择:</span>
      <el-time-select
        v-model="time"
        ref="timeRef"
        :picker-options="{
          start: '08:30',
          step: '00:15',
          end: '18:30'
        }"
        placeholder="选择时间"
        @focus="inputFocus('timeRef', 'time', '选择时间')"
        @blur="inputBlur('timeRef', 'time', '选择时间')"
        v-inputie9="{placeholder: '选择时间', ref:'timeRef', model:'time'}"
      >
      </el-time-select>
    </div>
    <div>
      <i class="el-icon-error"></i>
      <span>时间段选择:</span>
      <el-time-picker
        is-range
        v-model="timeRange"
        range-separator="至"
        start-placeholder="开始时间"
        end-placeholder="结束时间"
        placeholder="选择时间范围">
      </el-time-picker>
    </div>
  </div>
  <!-- <script src="./ie9-oninput-polyfill.js"></script> -->
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</body>
<script type="module">
    var main = {
      data() {
        return {
          form: {
            userName: '',
          },
          password: '',
          options: [{
            value: '选项1',
            label: '黄金糕'
          }, {
            value: '选项2',
            label: '双皮奶'
          }, {
            value: '选项3',
            label: '蚵仔煎'
          }, {
            value: '选项4',
            label: '龙须面'
          }, {
            value: '选项5',
            label: '北京烤鸭'
          }],
          selectVal: '',
          multiSelectVal: [],
          casOptions: [{
            value: 'zhinan',
            label: '指南',
            children: [{
              value: 'shejiyuanze',
              label: '设计原则',
              children: [{
                value: 'yizhi',
                label: '一致'
              }, {
                value: 'fankui',
                label: '反馈'
              }, {
                value: 'xiaolv',
                label: '效率'
              }, {
                value: 'kekong',
                label: '可控'
              }]
            }, {
              value: 'daohang',
              label: '导航',
              children: [{
                value: 'cexiangdaohang',
                label: '侧向导航'
              }, {
                value: 'dingbudaohang',
                label: '顶部导航'
              }]
            }]
          }, {
            value: 'zujian',
            label: '组件',
            children: [{
              value: 'basic',
              label: 'Basic',
              children: [{
                value: 'layout',
                label: 'Layout 布局'
              }, {
                value: 'color',
                label: 'Color 色彩'
              }, {
                value: 'typography',
                label: 'Typography 字体'
              }, {
                value: 'icon',
                label: 'Icon 图标'
              }, {
                value: 'button',
                label: 'Button 按钮'
              }]
            }, {
              value: 'form',
              label: 'Form',
              children: [{
                value: 'radio',
                label: 'Radio 单选框'
              }, {
                value: 'checkbox',
                label: 'Checkbox 多选框'
              }, {
                value: 'input',
                label: 'Input 输入框'
              }, {
                value: 'input-number',
                label: 'InputNumber 计数器'
              }, {
                value: 'select',
                label: 'Select 选择器'
              }, {
                value: 'cascader',
                label: 'Cascader 级联选择器'
              }, {
                value: 'switch',
                label: 'Switch 开关'
              }, {
                value: 'slider',
                label: 'Slider 滑块'
              }, {
                value: 'time-picker',
                label: 'TimePicker 时间选择器'
              }, {
                value: 'date-picker',
                label: 'DatePicker 日期选择器'
              }, {
                value: 'datetime-picker',
                label: 'DateTimePicker 日期时间选择器'
              }, {
                value: 'upload',
                label: 'Upload 上传'
              }, {
                value: 'rate',
                label: 'Rate 评分'
              }, {
                value: 'form',
                label: 'Form 表单'
              }]
            }, {
              value: 'data',
              label: 'Data',
              children: [{
                value: 'table',
                label: 'Table 表格'
              }, {
                value: 'tag',
                label: 'Tag 标签'
              }, {
                value: 'progress',
                label: 'Progress 进度条'
              }, {
                value: 'tree',
                label: 'Tree 树形控件'
              }, {
                value: 'pagination',
                label: 'Pagination 分页'
              }, {
                value: 'badge',
                label: 'Badge 标记'
              }]
            }, {
              value: 'notice',
              label: 'Notice',
              children: [{
                value: 'alert',
                label: 'Alert 警告'
              }, {
                value: 'loading',
                label: 'Loading 加载'
              }, {
                value: 'message',
                label: 'Message 消息提示'
              }, {
                value: 'message-box',
                label: 'MessageBox 弹框'
              }, {
                value: 'notification',
                label: 'Notification 通知'
              }]
            }, {
              value: 'navigation',
              label: 'Navigation',
              children: [{
                value: 'menu',
                label: 'NavMenu 导航菜单'
              }, {
                value: 'tabs',
                label: 'Tabs 标签页'
              }, {
                value: 'breadcrumb',
                label: 'Breadcrumb 面包屑'
              }, {
                value: 'dropdown',
                label: 'Dropdown 下拉菜单'
              }, {
                value: 'steps',
                label: 'Steps 步骤条'
              }]
            }, {
              value: 'others',
              label: 'Others',
              children: [{
                value: 'dialog',
                label: 'Dialog 对话框'
              }, {
                value: 'tooltip',
                label: 'Tooltip 文字提示'
              }, {
                value: 'popover',
                label: 'Popover 弹出框'
              }, {
                value: 'card',
                label: 'Card 卡片'
              }, {
                value: 'carousel',
                label: 'Carousel 走马灯'
              }, {
                value: 'collapse',
                label: 'Collapse 折叠面板'
              }]
            }]
          }, {
            value: 'ziyuan',
            label: '资源',
            children: [{
              value: 'axure',
              label: 'Axure Components'
            }, {
              value: 'sketch',
              label: 'Sketch Templates'
            }, {
              value: 'jiaohu',
              label: '组件交互文档'
            }]
          }],
          casSelected: [],
          time: '',
          timeRange: [new Date(2016, 9, 10, 8, 40), new Date(2016, 9, 10, 9, 40)],
        };
      },
      mixins: [
        inputie9Mixins.default,
      ],
      methods: {
        handleChange(value) {
          console.log(value);
        },
        multiChange(value) {
          console.log(value);
        }
      },
    };
    var InputIE9 = Vue.extend(main);
    new InputIE9().$mount('#app');
  </script>
</html>